.form-control{
    border-right: 0 !important;
}

.input-group-text {
    background-color: transparent !important;

}
.btn:hover{
    color: #0c22cb !important;
    background-color: white !important;
}

.btn{
    color: #0c22cb !important;
    border-color: #0c22cb !important;
    border-radius: 0 !important;
    border-width: 3px !important;
    font-weight: bold !important;
    width: 100% !important;
    
}

a{  color: #0c22cb !important;
    text-decoration: none !important;
}

afgbtn{
    margin-right: 8px !important;
}

.btn2{
    color: #0c22cb !important;
    border: none !important;
    width: 100% !important;
    font-weight: bold !important;
    background-color: transparent !important;
}